.header {
  padding: 2rem 14rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #777;
}

.nav-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.heading-primary {
  font-size: 3rem;
  font-family: 'Aladin';
  color: #484848;
}

.color {
  color: #ff922b;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 3.4rem;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #212529;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.2s;
}

.nav-link:hover {
  color: #ff922b;
}

.btn-signout {
  background-color: #ffd8a8;
  padding: 1rem 2rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.btn-registration {
  font-weight: 400;
  border: 2px solid #ffd8a8;
  padding: 0.6rem 1.6rem;
  border-radius: 100px;
}

.btn-registration:hover {
  color: currentColor;
  background-color: #ffd8a8;
}

.active,
.active:hover,
.active:active {
  border-bottom: 2px solid #ff922b;
  color: #f6ae62;
}

@media (max-width: 576px) {
  .header {
    padding: 2rem 2rem;
  }

  .nav-lists {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .heading-primary {
    font-size: 2.6rem;
  }

  .color {
    color: #ff922b;
  }

  .nav-items {
    display: none;
  }

  /* .nav-items {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: -10%;
    right: 0;
    width: 115%;
    height: 90vh;
    background-color: #fff;
    padding: 0;
    text-align: center;

  } */
}
