.header {
  padding: 2rem 14rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #777;
  position: relative;
}

.nav-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-primary {
  font-size: 3rem;
  font-family: 'Aladin';
  color: #484848;
}

.color {
  color: #ff922b;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 3.4rem;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #212529;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.2s;
}

.nav-link:hover {
  color: #ff922b;
}

.btn-signout {
  background-color: #ffd8a8;
  padding: 1rem 2rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.btn-registration {
  font-weight: 400;
  border: 2px solid #ffd8a8;
  padding: 0.6rem 1.6rem;
  border-radius: 100px;
}

.btn-registration:hover {
  color: currentColor;
  background-color: #ffd8a8;
}

.active,
.active:hover,
.active:active {
  border-bottom: 2px solid #ff922b;
  color: #f6ae62;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 56em) {
  .header {
    padding: 2rem 2rem;
  }
}

@media (max-width: 36em) {
  .header {
    padding: 2rem 1.6rem;
  }

  .nav-items.show {
    display: block;
  }

  .nav-items.close {
    display: none;
  }

  .icon {
    display: block;
  }

  .heading-primary {
    font-size: 2.6rem;
  }

  .nav-items.show {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #faecdb;
    width: 100vw;
    height: 89vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 9999;
  }
}
